*{
	margin:0;
	padding:0;
}

.contenedor{
	margin:0;
	padding:0;
}

.caja{
	width: 200px;
	height: 200px;

}

#verde{
	background-color: #8AC926;

}

#azul{
	background-color: #1982C4;
	left:200px;
	right: 200px;
	position: absolute;

}

#morado{
	background-color: #6A4C93;
 
}

#amarillo{
	background-color: #FFCA3A;

}